.root{
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.logo-name{
    font-family: 'Playball', cursive;
    font-style: normal;
    font-weight: 400;
}
